In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import ipywidgets as widgets

In [24]:
#todas as turmas de 2013 até 2017
turma_periodo = ['dados/turmas-2013.1.csv','dados/turmas-2013.2.csv','dados/turmas-2014.1.csv','dados/turmas-2014.2.csv','dados/turmas-2015.1.csv',
                 'dados/turmas-2015.2.csv','dados/turmas-2016.1.csv', 'dados/turmas-2016.2.csv', 'dados/turmas-2017.1.csv', 'dados/turmas-2017.2.csv',]

In [25]:
#le todos os dados de todos os arquivos e salva em uma conjunto de datasets
frames = [pd.read_csv(periodo, sep=';', usecols=['id_turma','id_componente_curricular', 'ano', 'nivel_ensino', 'periodo','situacao_turma']) for periodo in turma_periodo]

In [26]:
#concatena os data sets
df_turmas = pd.concat(frames)
df_turmas.head()

,id_turma,id_componente_curricular,nivel_ensino,ano,periodo,situacao_turma
0,1196178,50280.0,LATO SENSU,2013,1.0,CONSOLIDADA
1,1196210,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
2,1196211,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
3,1196212,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
4,1196213,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA

In [27]:
# filtrar apenas disciplinas com código "CONSOLIDADA"
df_turmas_consolidadas = df_turmas[df_turmas.situacao_turma == 'CONSOLIDADA']
df_turmas_consolidadas.dropna(inplace=True)
df_turmas_consolidadas.head()

/home/cinthia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,id_turma,id_componente_curricular,nivel_ensino,ano,periodo,situacao_turma
0,1196178,50280.0,LATO SENSU,2013,1.0,CONSOLIDADA
1,1196210,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
2,1196211,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
3,1196212,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
4,1196213,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA

In [28]:
#muda o nome da coluna do componente e muda o tipo para int64 - para fazer o merge com as disciplinas
df_turmas_consolidadas.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
df_turmas_consolidadas.id_componente = df_turmas_consolidadas.id_componente.astype(np.int64)

/home/cinthia/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/home/cinthia/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [29]:
#armazena os dados das disciplinas
disciplinas_url = 'dados/componentes-curriculares-presenciais.csv'
df_disciplinas = pd.read_csv(disciplinas_url, sep=';',usecols=["id_componente","codigo","nome"])
df_disciplinas.dropna(inplace=True)
df_disciplinas.head()

  id_componente  codigo                              nome
0         18643  MUT508  COMPOSIÇÃO EM MÚSICA POPULAR III
1         18644  MUT516                      CO-REPETIÇÃO
2         18645  MUT520            CONTRABAIXO ACÚSTICO I
3         18646  MUT165              PIANO COMPLEMENTAR I
4         18647  MUT167            PIANO COMPLEMENTAR III

In [30]:
#filtra apenas as disciplinas do imd
disciplinas_imd = df_disciplinas[df_disciplinas.codigo.str.contains("IMD")]
disciplinas_imd.id_componente = disciplinas_imd.id_componente.astype(np.int64)
disciplinas_imd.head()

/home/cinthia/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

       id_componente   codigo                              nome
20970          51954  IMD0001              INOVAÇÃO TECNOLÓGICA
21229          52247  IMD0002              INOVAÇÃO TECNOLÓGICA
21230          52248  IMD0003  PROCESSO E QUALIDADE DE SOFTWARE
21231          52249  IMD0004              GERÊNCIA DE PROJETOS
21371          52390  IMD0005              INOVAÇÃO TECNOLÓGICA

In [9]:
#merge entre turmas e disciplinas
colunas = ["id_turma","id_componente","codigo","nome","nivel_ensino","ano","periodo","situacao_turma"]
turmas_disciplinas = pd.merge(df_turmas_consolidadas, disciplinas_imd , on='id_componente')[colunas]
turmas_disciplinas = turmas_disciplinas[~turmas_disciplinas.id_turma.duplicated()]
turmas_disciplinas.head()

,id_turma,id_componente,codigo,nome,nivel_ensino,ano,periodo,situacao_turma
0,1196210,52540,IMD0901,INTRODUÇÃO ÀS TECNOLOGIAS DA INFORMAÇÃO,TÉCNICO,2013,1.0,CONSOLIDADA
1,1196211,52540,IMD0901,INTRODUÇÃO ÀS TECNOLOGIAS DA INFORMAÇÃO,TÉCNICO,2013,1.0,CONSOLIDADA
2,1196212,52540,IMD0901,INTRODUÇÃO ÀS TECNOLOGIAS DA INFORMAÇÃO,TÉCNICO,2013,1.0,CONSOLIDADA
3,1196213,52540,IMD0901,INTRODUÇÃO ÀS TECNOLOGIAS DA INFORMAÇÃO,TÉCNICO,2013,1.0,CONSOLIDADA
4,1196214,52540,IMD0901,INTRODUÇÃO ÀS TECNOLOGIAS DA INFORMAÇÃO,TÉCNICO,2013,1.0,CONSOLIDADA

In [31]:
# armazena as avaliações dos professores da ufrn
avaliacao = pd.read_csv("dados/avaliacaodocencia.csv", sep=';')
avaliacao.head()

,id_docente,nome_docente,id_turma,ano,periodo,qtd_discentes,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP
0,15370,FERNANDO MOREIRA DA SILVA,1209923,2013,2,14,9.17,1.34,8.13,2.70,7.61,2.53
1,15370,FERNANDO MOREIRA DA SILVA,1222008,2014,1,15,9.44,0.92,7.17,3.08,8.71,1.72
2,15370,FERNANDO MOREIRA DA SILVA,1222218,2014,1,38,9.19,1.67,6.77,3.29,8.12,2.53
3,15370,FERNANDO MOREIRA DA SILVA,1229520,2014,2,13,9.06,1.16,7.68,2.51,7.62,2.77
4,15370,FERNANDO MOREIRA DA SILVA,1229545,2014,2,24,9.27,1.28,8.45,1.72,8.48,1.86

In [32]:
colunas = ["id_turma","id_componente","codigo","nome","nivel_ensino","nome_docente","ano_y","postura_profissional_media","postura_profissional_DP","atuacao_profissional_media","atuacao_profissional_DP","autoavaliacao_aluno_media","autoavaliacao_aluno_DP"]
av_imd = pd.merge(turmas_disciplinas, avaliacao, on='id_turma')[colunas]
av_imd.head()

,id_turma,id_componente,codigo,nome,nivel_ensino,nome_docente,ano_y,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP
0,1210347,52656,IMD0014,INTRODUÇÃO AO CÁLCULO,GRADUAÇÃO,SAMYR SILVA BEZERRA JACOME,2013,9.19,2.02,8.51,2.53,7.48,2.63
1,1211547,52656,IMD0014,INTRODUÇÃO AO CÁLCULO,GRADUAÇÃO,SAMYR SILVA BEZERRA JACOME,2013,9.72,0.66,8.82,2.09,7.96,2.61
2,1210362,52651,IMD0012.0,INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,ADJA FERREIRA DE ANDRADE,2013,9.08,1.44,7.35,3.02,8.73,2.19
3,1211551,52651,IMD0012.0,INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,ADJA FERREIRA DE ANDRADE,2013,9.63,0.87,8.70,2.18,8.07,2.72
4,1217933,52651,IMD0012.0,INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,ANDRE MAURICIO CUNHA CAMPOS,2014,9.69,0.60,8.92,1.37,8.61,1.81

In [33]:
lista_prof = av_imd.nome_docente.unique()
lista_prof.sort()

In [34]:
from __future__ import print_function
from ipywidgets import interact

def evolucao(x):
    dados_prof = av_imd.loc[av_imd['nome_docente'] == x]
    return (dados_prof)

interact(evolucao, x=lista_prof,);

interactive(children=(Dropdown(description='x', options=('ADJA FERREIRA DE ANDRADE', 'ALUIZIO FERREIRA DA ROCHA NETO', 'ALYSON MATHEUS DE CARVALHO SOUZA', 'ANDERSON PAIVA CRUZ', 'ANDRE LUIZ DA SILVA SOLINO', 'ANDRE LUIZ DE SOUZA BRITO', 'ANDRE MAURICIO CUNHA CAMPOS', 'ANNE MAGALY DE PAULA CANUTO', 'ANTONIO IGOR SILVA DE OLIVEIRA', 'ANTONIO WALLACE ANTUNES SOARES', 'ATHANASIOS TSOUANAS', 'AUGUSTO JORGE DE MACEDO', 'BRUNO SANTANA DA SILVA', 'CARLA DA COSTA FERNANDES CURVELO', 'CARLOS AUGUSTO PROLO', 'CARLOS EDUARDO DA SILVA', 'CESAR RENNO COSTA', 'CHARLES ANDRYE GALVAO MADEIRA', 'DANIEL SABINO AMORIM DE ARAUJO', 'DANIEL TEIXEIRA DOS SANTOS', 'DANILO CURVELO DE SOUZA', 'DAVID BORIS PAUL DEHARBE', 'DENNYS LEITE MAIA', 'DIOMADSON RODRIGUES BELFORT', 'EDGARD DE FARIA CORREA', 'EDUARDO NOGUEIRA CUNHA', 'EIJI ADACHI MEDEIROS BARBOSA', 'ELIZABETH FERREIRA GOUVEA GOLDBARG', 'ELLIS MARIA SOUZA NORO', 'EMERSON MOURA DE ALENCAR', 'ERNANO ARRAIS JUNIOR', 'EUGENIO PACCELLI AGUIAR FREIRE', 'EVERTON RANIELLY DE SOUSA CAVALCANTE', 'FERNANDA PALHANO XAVIER DE FONTES', 'FRANCISCO GEOCI DA SILVA', 'FREDERICO ARAUJO DA SILVA LOPES', 'GILIARD FAUSTINO DA SILVA', 'GUSTAVO GIRAO BARRETO DA SILVA', 'HADLEY MAGNO DA COSTA SIQUEIRA', 'HANDERSON BEZERRA MEDEIROS', 'HANIEL MOREIRA BARBOSA', 'IRIS LINHARES PIMENTA', 'ISAAC FRANCO FERNANDES', 'ISABEL DILLMANN NUNES', 'ITAMIR DE MORAIS BARROCA FILHO', 'IVANOVITCH MEDEIROS DANTAS DA SILVA', 'JOAO BATISTA DA COSTA JUNIOR', 'JOAO CARLOS XAVIER JUNIOR', 'JOAO MARCOS DE ALMEIDA', 'JORGE ESTEFANO SANTANA DE SOUZA', 'JOSUÉ VITOR DE MEDEIROS JÚNIOR', 'JULIANA DE MELO PEREIRA', 'JULIO CESAR PAULINO DE MELO', 'KAYO GONCALVES E SILVA', 'KLEBER TAVARES FERNANDES', 'LEONARDO CESAR TEONACIO BEZERRA', 'LILIANE RIBEIRO DA SILVA', 'LORENA AZEVEDO DE SOUSA', 'LOURENA KARIN DE MEDEIROS ROCHA', 'LUCELIO DANTAS DE AQUINO', 'LUCIANA VIEIRA ANDRADE', 'MANOEL VERAS DE SOUSA NETO', 'MARCIA JACYNTHA NUNES RODRIGUES LUCENA', 'MARCIO EDUARDO KREUTZ', 'MARJORY CRISTIANY DA COSTA ABREU', 'MONICA MAGALHAES PEREIRA', 'NELSON ION DE OLIVEIRA', 'PATRICK CESAR ALVES TERREMATTE', 'PAULO ROBERTO BELTRAO MAIA', 'PRISCILLA TELES DE OLIVEIRA', 'RAFAEL BESERRA GOMES', 'RAFAEL VIDAL AROCA', 'RAFAELA HORACINA SILVA ROCHA SOARES', 'REGIVAN HUGO NUNES SANTIAGO', 'RENATO QUARENTEI GARDIMAN', 'RODRIGO TEIXEIRA RAMOS', 'SAMYR SILVA BEZERRA JACOME', 'SEBASTIAN YURI CAVALCANTI CATUNDA', 'SELAN RODRIGUES DOS SANTOS', 'SILVIA MARIA DINIZ MONTEIRO MAIA', 'SILVIO COSTA SAMPAIO', 'TAMYRIS REZENDE FERREIRA', 'UMBERTO RIVIECCIO', 'UMBERTO SOUZA DA COSTA', 'VANESSA DANIELLE SANTOS FERREIRA', 'WAGNER GUEDES KERLLER', 'WELLINGTON SILVA DE SOUZA', 'WILLIAM BRENNO DOS SANTOS OLIVEIRA'), value='ADJA FERREIRA DE ANDRADE'), Output()), _dom_classes=('widget-interact',))

In [35]:
def evolucaoGrafico(x):
    dados_prof = av_imd.loc[av_imd['nome_docente'] == x]
    g = sns.lmplot(x="ano_y",y="postura_profissional_media",hue="nome", data=dados_prof, size=7)
    sns.despine(left=True, bottom=True)
    plt.show()
  
    
interactive_plot = interact(evolucaoGrafico, x=lista_prof,)

interactive(children=(Dropdown(description='x', options=('ADJA FERREIRA DE ANDRADE', 'ALUIZIO FERREIRA DA ROCHA NETO', 'ALYSON MATHEUS DE CARVALHO SOUZA', 'ANDERSON PAIVA CRUZ', 'ANDRE LUIZ DA SILVA SOLINO', 'ANDRE LUIZ DE SOUZA BRITO', 'ANDRE MAURICIO CUNHA CAMPOS', 'ANNE MAGALY DE PAULA CANUTO', 'ANTONIO IGOR SILVA DE OLIVEIRA', 'ANTONIO WALLACE ANTUNES SOARES', 'ATHANASIOS TSOUANAS', 'AUGUSTO JORGE DE MACEDO', 'BRUNO SANTANA DA SILVA', 'CARLA DA COSTA FERNANDES CURVELO', 'CARLOS AUGUSTO PROLO', 'CARLOS EDUARDO DA SILVA', 'CESAR RENNO COSTA', 'CHARLES ANDRYE GALVAO MADEIRA', 'DANIEL SABINO AMORIM DE ARAUJO', 'DANIEL TEIXEIRA DOS SANTOS', 'DANILO CURVELO DE SOUZA', 'DAVID BORIS PAUL DEHARBE', 'DENNYS LEITE MAIA', 'DIOMADSON RODRIGUES BELFORT', 'EDGARD DE FARIA CORREA', 'EDUARDO NOGUEIRA CUNHA', 'EIJI ADACHI MEDEIROS BARBOSA', 'ELIZABETH FERREIRA GOUVEA GOLDBARG', 'ELLIS MARIA SOUZA NORO', 'EMERSON MOURA DE ALENCAR', 'ERNANO ARRAIS JUNIOR', 'EUGENIO PACCELLI AGUIAR FREIRE', 'EVERTON RANIELLY DE SOUSA CAVALCANTE', 'FERNANDA PALHANO XAVIER DE FONTES', 'FRANCISCO GEOCI DA SILVA', 'FREDERICO ARAUJO DA SILVA LOPES', 'GILIARD FAUSTINO DA SILVA', 'GUSTAVO GIRAO BARRETO DA SILVA', 'HADLEY MAGNO DA COSTA SIQUEIRA', 'HANDERSON BEZERRA MEDEIROS', 'HANIEL MOREIRA BARBOSA', 'IRIS LINHARES PIMENTA', 'ISAAC FRANCO FERNANDES', 'ISABEL DILLMANN NUNES', 'ITAMIR DE MORAIS BARROCA FILHO', 'IVANOVITCH MEDEIROS DANTAS DA SILVA', 'JOAO BATISTA DA COSTA JUNIOR', 'JOAO CARLOS XAVIER JUNIOR', 'JOAO MARCOS DE ALMEIDA', 'JORGE ESTEFANO SANTANA DE SOUZA', 'JOSUÉ VITOR DE MEDEIROS JÚNIOR', 'JULIANA DE MELO PEREIRA', 'JULIO CESAR PAULINO DE MELO', 'KAYO GONCALVES E SILVA', 'KLEBER TAVARES FERNANDES', 'LEONARDO CESAR TEONACIO BEZERRA', 'LILIANE RIBEIRO DA SILVA', 'LORENA AZEVEDO DE SOUSA', 'LOURENA KARIN DE MEDEIROS ROCHA', 'LUCELIO DANTAS DE AQUINO', 'LUCIANA VIEIRA ANDRADE', 'MANOEL VERAS DE SOUSA NETO', 'MARCIA JACYNTHA NUNES RODRIGUES LUCENA', 'MARCIO EDUARDO KREUTZ', 'MARJORY CRISTIANY DA COSTA ABREU', 'MONICA MAGALHAES PEREIRA', 'NELSON ION DE OLIVEIRA', 'PATRICK CESAR ALVES TERREMATTE', 'PAULO ROBERTO BELTRAO MAIA', 'PRISCILLA TELES DE OLIVEIRA', 'RAFAEL BESERRA GOMES', 'RAFAEL VIDAL AROCA', 'RAFAELA HORACINA SILVA ROCHA SOARES', 'REGIVAN HUGO NUNES SANTIAGO', 'RENATO QUARENTEI GARDIMAN', 'RODRIGO TEIXEIRA RAMOS', 'SAMYR SILVA BEZERRA JACOME', 'SEBASTIAN YURI CAVALCANTI CATUNDA', 'SELAN RODRIGUES DOS SANTOS', 'SILVIA MARIA DINIZ MONTEIRO MAIA', 'SILVIO COSTA SAMPAIO', 'TAMYRIS REZENDE FERREIRA', 'UMBERTO RIVIECCIO', 'UMBERTO SOUZA DA COSTA', 'VANESSA DANIELLE SANTOS FERREIRA', 'WAGNER GUEDES KERLLER', 'WELLINGTON SILVA DE SOUZA', 'WILLIAM BRENNO DOS SANTOS OLIVEIRA'), value='ADJA FERREIRA DE ANDRADE'), Output()), _dom_classes=('widget-interact',))

In [36]:
av_imd['avaliacao completa'] = (av_imd['postura_profissional_media']+ av_imd['atuacao_profissional_media'])/2
av_imd.sort_values(by='avaliacao completa',ascending=True)

,id_turma,id_componente,codigo,nome,nivel_ensino,nome_docente,ano_y,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,avaliacao completa
153,57576571,55031,IMD0019,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,GRADUAÇÃO,PAULO ROBERTO BELTRAO MAIA,2016,7.39,1.97,6.46,3.29,7.67,2.72,6.925
260,57586303,55022,IMD0028,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I,GRADUAÇÃO,PAULO ROBERTO BELTRAO MAIA,2016,7.57,2.37,7.02,3.02,8.11,2.68,7.295
471,57565057,55041,IMD0325,INTRODUÇÃO A SISTEMAS DE CONTROLE,GRADUAÇÃO,EDUARDO NOGUEIRA CUNHA,2015,8.67,2.07,6.04,3.41,7.90,1.87,7.355
443,57587373,52790,IMD0401,BANCO DE DADOS,GRADUAÇÃO,MARCIA JACYNTHA NUNES RODRIGUES LUCENA,2016,7.79,2.67,7.29,2.96,7.61,3.31,7.540
239,57579396,55082,IMD0020,TECNOLOGIA DA INFORMAÇÃO E SOCIEDADE,GRADUAÇÃO,GILIARD FAUSTINO DA SILVA,2016,7.96,2.21,7.13,3.12,7.94,2.61,7.545
34,1239519,52652,IMD0012.1,PRÁTICAS DE TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,WELLINGTON SILVA DE SOUZA,2015,8.50,1.93,6.65,2.94,7.73,2.93,7.575
98,57576591,52662,IMD0024,CÁLCULO DIFERENCIAL E INTEGRAL I,GRADUAÇÃO,RAFAELA HORACINA SILVA ROCHA SOARES,2016,7.38,2.12,7.83,2.22,7.76,2.70,7.605
236,57576582,55082,IMD0020,TECNOLOGIA DA INFORMAÇÃO E SOCIEDADE,GRADUAÇÃO,GILIARD FAUSTINO DA SILVA,2016,7.95,2.04,7.54,2.92,7.76,3.23,7.745
120,1217945,52785,IMD0025,LABORATÓRIO DE PROGRAMAÇÃO I,GRADUAÇÃO,CHARLES ANDRYE GALVAO MADEIRA,2014,8.88,2.01,6.72,3.09,7.60,2.50,7.800
282,1217956,52665,IMD0034,VETORES E GEOMETRIA ANALÍTICA,GRADUAÇÃO,PRISCILLA TELES DE OLIVEIRA,2014,7.76,2.29,7.92,2.62,8.04,2.58,7.840
258,57576596,55022,IMD0028,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I,GRADUAÇÃO,ATHANASIOS TSOUANAS,2016,8.40,1.83,7.49,2.80,7.62,2.47,7.945
84,1211540,52662,IMD0024,CÁLCULO DIFERENCIAL E INTEGRAL I,GRADUAÇÃO,PRISCILLA TELES DE OLIVEIRA,2013,8.03,2.23,7.86,2.64,8.14,2.44,7.945
262,57586314,55022,IMD0028,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I,GRADUAÇÃO,PAULO ROBERTO BELTRAO MAIA,2016,8.40,1.57,7.60,2.69,7.46,2.95,8.000
279,57586395,52664,IMD0033,PROBABILIDADE,GRADUAÇÃO,RAFAELA HORACINA SILVA ROCHA SOARES,2016,7.31,2.85,8.80,1.80,8.65,2.24,8.055
294,57586333,52665,IMD0034,VETORES E GEOMETRIA ANALÍTICA,GRADUAÇÃO,SAMYR SILVA BEZERRA JACOME,2016,8.02,2.18,8.19,2.26,7.51,3.04,8.105
52,57586278,52652,IMD0012.1,PRÁTICAS DE TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,EMERSON MOURA DE ALENCAR,2016,8.95,1.86,7.45,3.21,6.92,3.10,8.200
2,1210362,52651,IMD0012.0,INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,ADJA FERREIRA DE ANDRADE,2013,9.08,1.44,7.35,3.02,8.73,2.19,8.215
316,1239541,55025,IMD0038,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,GRADUAÇÃO,REGIVAN HUGO NUNES SANTIAGO,2015,9.13,1.27,7.34,3.02,8.18,2.69,8.235
319,57576738,55025,IMD0038,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,GRADUAÇÃO,UMBERTO RIVIECCIO,2016,9.78,0.48,6.78,3.16,8.06,2.56,8.280
121,1217946,52785,IMD0025,LABORATÓRIO DE PROGRAMAÇÃO I,GRADUAÇÃO,CHARLES ANDRYE GALVAO MADEIRA,2014,9.90,0.31,6.75,3.49,7.78,3.19,8.325
445,1239561,55083,IMD0423,DESIGN DE SOFTWARE I,GRADUAÇÃO,BRUNO SANTANA DA SILVA,2015,8.79,1.31,7.88,2.68,8.45,1.79,8.335
321,57579588,55025,IMD0038,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,GRADUAÇÃO,ATHANASIOS TSOUANAS,2016,8.53,2.04,8.14,2.82,8.32,2.43,8.335
276,57576731,52664,IMD0033,PROBABILIDADE,GRADUAÇÃO,ANNE MAGALY DE PAULA CANUTO,2016,9.42,1.04,7.28,2.90,8.12,2.86,8.350
90,57564843,52662,IMD0024,CÁLCULO DIFERENCIAL E INTEGRAL I,GRADUAÇÃO,RAFAELA HORACINA SILVA ROCHA SOARES,2015,7.95,2.68,8.78,2.06,8.38,2.42,8.365
372,57586351,55023,IMD0029,ESTRUTURA DE DADOS BÁSICAS I,GRADUAÇÃO,HANDERSON BEZERRA MEDEIROS,2016,7.98,2.19,8.78,1.81,8.23,2.23,8.380
251,1239529,55022,IMD0028,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I,GRADUAÇÃO,PATRICK CESAR ALVES TERREMATTE,2015,8.14,1.92,8.66,1.86,8.10,2.19,8.400
436,1239556,55038,IMD0321,PROJETOS BASEADOS EM MICROCONTROLADORES,GRADUAÇÃO,EDUARDO NOGUEIRA CUNHA,2015,9.38,0.74,7.45,2.92,9.20,1.23,8.415
271,1217954,52664,IMD0033,PROBABILIDADE,GRADUAÇÃO,ANNE MAGALY DE PAULA CANUTO,2014,9.23,1.81,7.63,2.94,7.24,3.38,8.430
524,57600757,63935,IMD0110,TÓPICOS ESPECIAIS EM TECNOLOGIA DA INFORMAÇÃO XI,GRADUAÇÃO,ATHANASIOS TSOUANAS,2017,8.50,2.12,8.38,1.41,6.29,2.14,8.440
272,1217955,52664,IMD0033,PROBABILIDADE,GRADUAÇÃO,PRISCILLA TELES DE OLIVEIRA,2014,8.65,1.79,8.23,2.76,8.09,2.36,8.440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,57597710,55023,IMD0029,ESTRUTURA DE DADOS BÁSICAS I,GRADUAÇÃO,EIJI ADACHI MEDEIROS BARBOSA,2017,9.93,0.27,9.82,0.61,9.00,1.32,9.875
144,57565224,55031,IMD0019,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,GRADUAÇÃO,LOURENA KARIN DE MEDEIROS ROCHA,2015,9.92,0.28,9.83,0.57,8.92,1.70,9.875
515,57598073,55085,IMD0524,EDUCAÇÃO A DISTÂNCIA,GRADUAÇÃO,DENNYS LEITE MAIA,2017,10.00,0.00,9.75,0.60,9.29,1.03,9.875
331,57564866,56269,IMD0044,PRÁTICAS DE LEITURA E ESCRITA EM INGLÊS,GRADUAÇÃO,LORENA AZEVEDO DE SOUSA,2015,9.94,0.24,9.82,0.47,8.99,1.57,9.880
452,1239565,52692,IMD0504,"RELAÇÕES ENTRE COMUNICAÇÃO, MÍDIA E EDUCAÇÃO",GRADUAÇÃO,EUGENIO PACCELLI AGUIAR FREIRE,2015,9.92,0.29,9.85,0.50,8.79,2.10,9.885
332,57586402,56269,IMD0044,PRÁTICAS DE LEITURA E ESCRITA EM INGLÊS,GRADUAÇÃO,LORENA AZEVEDO DE SOUSA,2016,9.97,0.16,9.80,0.87,7.68,2.96,9.885
100,57586287,52662,IMD0024,CÁLCULO DIFERENCIAL E INTEGRAL I,GRADUAÇÃO,LUCIANA VIEIRA ANDRADE,2016,9.89,0.42,9.88,0.53,8.96,1.62,9.885
305,57586846,52666,IMD0036,SISTEMAS OPERACIONAIS,GRADUAÇÃO,IVANOVITCH MEDEIROS DANTAS DA SILVA,2016,10.00,0.00,9.78,0.72,8.46,2.37,9.890
104,57597582,52662,IMD0024,CÁLCULO DIFERENCIAL E INTEGRAL I,GRADUAÇÃO,ANTONIO IGOR SILVA DE OLIVEIRA,2017,10.00,0.00,9.78,0.65,8.80,1.81,9.890
411,57597936,55026,IMD0039,ESTRUTURAS DE DADOS BÁSICAS II,GRADUAÇÃO,SILVIA MARIA DINIZ MONTEIRO MAIA,2017,10.00,0.00,9.78,0.79,7.64,2.42,9.890
412,57597941,55026,IMD0039,ESTRUTURAS DE DADOS BÁSICAS II,GRADUAÇÃO,JORGE ESTEFANO SANTANA DE SOUZA,2017,9.94,0.24,9.84,0.52,9.18,1.52,9.890
410,57586399,55026,IMD0039,ESTRUTURAS DE DADOS BÁSICAS II,GRADUAÇÃO,JORGE ESTEFANO SANTANA DE SOUZA,2016,10.00,0.00,9.79,0.57,8.71,2.17,9.895
492,57572025,52682,IMD0406,PROTOCOLO E SERVIÇOS DE INTERNET,GRADUAÇÃO,DANILO CURVELO DE SOUZA,2015,10.00,0.00,9.81,0.61,9.66,0.88,9.905
488,57568129,59732,IMD0102,TÓPICOS ESPECIAIS EM TECNOLOGIA DA INFORMAÇÃO III,GRADUAÇÃO,LUCELIO DANTAS DE AQUINO,2015,9.88,0.35,9.94,0.35,9.86,0.52,9.910
112,1239567,52658,IMD0021,ORGANIZAÇÃO E ARQUITETURA DE COMPUTADORES,GRADUAÇÃO,MONICA MAGALHAES PEREIRA,2015,10.00,0.00,9.84,1.14,9.04,2.34,9.920
337,57598072,55055,IMD0517,FUNDAMENTOS PEDAGÓGICOS PARA A INFORMÁTICA EDU...,GRADUAÇÃO,DENNYS LEITE MAIA,2017,10.00,0.00,9.84,0.46,9.21,1.24,9.920
145,57565224,55031,IMD0019,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,GRADUAÇÃO,LUCIANA VIEIRA ANDRADE,2015,9.94,0.23,9.93,0.47,8.89,1.86,9.935
502,57576792,61116,IMD0270,"TÓPICOS ESPECIAIS EM REDES DE COMPUTADORES A""",GRADUAÇÃO,WELLINGTON SILVA DE SOUZA,2016,10.00,0.00,9.88,0.46,9.14,1.31,9.940
459,1244256,52702,IMD0515,TÓPICOS ESPECIAIS EM INFORMÁTICA EDUCACIONAL I,GRADUAÇÃO,DENNYS LEITE MAIA,2015,10.00,0.00,9.88,0.40,8.88,2.32,9.940
480,57587403,52681,IMD0411,INTRODUÇÃO À GOVERNANÇA E GESTÃO DE TI,GRADUAÇÃO,IRIS LINHARES PIMENTA,2016,9.92,0.39,9.97,0.17,8.91,1.76,9.945
270,1217953,52787,IMD0032,ESTRUTURAS DE DADOS BÁSICAS II,GRADUAÇÃO,ELIZABETH FERREIRA GOUVEA GOLDBARG,2014,10.00,0.00,9.89,0.49,9.00,1.54,9.945
197,1217925,55020,IMD0018,PRÁTICAS DE LEITURA EM INGLÊS,GRADUAÇÃO,WAGNER GUEDES KERLLER,2014,10.00,0.00,9.92,0.45,9.18,1.97,9.960
313,1217966,52782,IMD0037,PRÁTICAS DE LEITURA E ESCRITA EM INGLÊS,GRADUAÇÃO,LORENA AZEVEDO DE SOUSA,2014,9.95,0.21,9.98,0.15,8.47,2.54,9.965
498,57576782,52687,IMD0416,SEGURANÇA DA INFORMAÇÃO,GRADUAÇÃO,IRIS LINHARES PIMENTA,2016,10.00,0.00,9.94,0.35,9.46,0.96,9.970
379,57600131,55023,IMD0029,ESTRUTURA DE DADOS BÁSICAS I,GRADUAÇÃO,LEONARDO CESAR TEONACIO BEZERRA,2017,10.00,0.00,9.94,0.25,9.29,1.82,9.970
472,57565059,55042,IMD0330,REDES DE COMUNICAÇÃO EM SISTEMAS EMBARCADOS,GRADUAÇÃO,IVANOVITCH MEDEIROS DANTAS DA SILVA,2015,10.00,0.00,10.00,0.00,9.52,1.12,10.000
335,57565086,55055,IMD0517,FUNDAMENTOS PEDAGÓGICOS PARA A INFORMÁTICA EDU...,GRADUAÇÃO,EUGENIO PACCELLI AGUIAR FREIRE,2015,10.00,0.00,10.00,0.00,9.00,1.24,10.000
470,57564835,55094,IMD0324,PROJETO INTEGRADO I,GRADUAÇÃO,DIOMADSON RODRIGUES BELFORT,2015,10.00,0.00,10.00,0.00,9.43,0.75,10.000
311,1217965,52782,IMD0037,PRÁTICAS DE LEITURA E ESCRITA EM INGLÊS,GRADUAÇÃO,LORENA AZEVEDO DE SOUSA,2014,10.00,0.00,10.00,0.00,8.57,2.56,10.000
38,57564821,52652,IMD0012.1,PRÁTICAS DE TÉCNICAS DE PROGRAMAÇÃO,GRADUAÇÃO,MARJORY CRISTIANY DA COSTA ABREU,2015,10.00,0.00,10.00,0.00,9.43,1.51,10.000

In [37]:
% matplotlib inline
from ipywidgets import interactive
import matplotlib.pyplot as plt
import numpy as np

def evolucaoGrafico(x):
    dados_prof = av_imd.loc[av_imd['nome_docente'] == x]
    plt.barh(dados_prof['nome'],dados_prof['avaliacao completa'], 0.2)
    plt.xlim(xmax=10,xmin=5) 
    plt.xlabel("Notas")
    plt.ylabel("Disciplinas")
    plt.show()
    
interactive_plot = interact(evolucaoGrafico, x=lista_prof,)

interactive(children=(Dropdown(description='x', options=('ADJA FERREIRA DE ANDRADE', 'ALUIZIO FERREIRA DA ROCHA NETO', 'ALYSON MATHEUS DE CARVALHO SOUZA', 'ANDERSON PAIVA CRUZ', 'ANDRE LUIZ DA SILVA SOLINO', 'ANDRE LUIZ DE SOUZA BRITO', 'ANDRE MAURICIO CUNHA CAMPOS', 'ANNE MAGALY DE PAULA CANUTO', 'ANTONIO IGOR SILVA DE OLIVEIRA', 'ANTONIO WALLACE ANTUNES SOARES', 'ATHANASIOS TSOUANAS', 'AUGUSTO JORGE DE MACEDO', 'BRUNO SANTANA DA SILVA', 'CARLA DA COSTA FERNANDES CURVELO', 'CARLOS AUGUSTO PROLO', 'CARLOS EDUARDO DA SILVA', 'CESAR RENNO COSTA', 'CHARLES ANDRYE GALVAO MADEIRA', 'DANIEL SABINO AMORIM DE ARAUJO', 'DANIEL TEIXEIRA DOS SANTOS', 'DANILO CURVELO DE SOUZA', 'DAVID BORIS PAUL DEHARBE', 'DENNYS LEITE MAIA', 'DIOMADSON RODRIGUES BELFORT', 'EDGARD DE FARIA CORREA', 'EDUARDO NOGUEIRA CUNHA', 'EIJI ADACHI MEDEIROS BARBOSA', 'ELIZABETH FERREIRA GOUVEA GOLDBARG', 'ELLIS MARIA SOUZA NORO', 'EMERSON MOURA DE ALENCAR', 'ERNANO ARRAIS JUNIOR', 'EUGENIO PACCELLI AGUIAR FREIRE', 'EVERTON RANIELLY DE SOUSA CAVALCANTE', 'FERNANDA PALHANO XAVIER DE FONTES', 'FRANCISCO GEOCI DA SILVA', 'FREDERICO ARAUJO DA SILVA LOPES', 'GILIARD FAUSTINO DA SILVA', 'GUSTAVO GIRAO BARRETO DA SILVA', 'HADLEY MAGNO DA COSTA SIQUEIRA', 'HANDERSON BEZERRA MEDEIROS', 'HANIEL MOREIRA BARBOSA', 'IRIS LINHARES PIMENTA', 'ISAAC FRANCO FERNANDES', 'ISABEL DILLMANN NUNES', 'ITAMIR DE MORAIS BARROCA FILHO', 'IVANOVITCH MEDEIROS DANTAS DA SILVA', 'JOAO BATISTA DA COSTA JUNIOR', 'JOAO CARLOS XAVIER JUNIOR', 'JOAO MARCOS DE ALMEIDA', 'JORGE ESTEFANO SANTANA DE SOUZA', 'JOSUÉ VITOR DE MEDEIROS JÚNIOR', 'JULIANA DE MELO PEREIRA', 'JULIO CESAR PAULINO DE MELO', 'KAYO GONCALVES E SILVA', 'KLEBER TAVARES FERNANDES', 'LEONARDO CESAR TEONACIO BEZERRA', 'LILIANE RIBEIRO DA SILVA', 'LORENA AZEVEDO DE SOUSA', 'LOURENA KARIN DE MEDEIROS ROCHA', 'LUCELIO DANTAS DE AQUINO', 'LUCIANA VIEIRA ANDRADE', 'MANOEL VERAS DE SOUSA NETO', 'MARCIA JACYNTHA NUNES RODRIGUES LUCENA', 'MARCIO EDUARDO KREUTZ', 'MARJORY CRISTIANY DA COSTA ABREU', 'MONICA MAGALHAES PEREIRA', 'NELSON ION DE OLIVEIRA', 'PATRICK CESAR ALVES TERREMATTE', 'PAULO ROBERTO BELTRAO MAIA', 'PRISCILLA TELES DE OLIVEIRA', 'RAFAEL BESERRA GOMES', 'RAFAEL VIDAL AROCA', 'RAFAELA HORACINA SILVA ROCHA SOARES', 'REGIVAN HUGO NUNES SANTIAGO', 'RENATO QUARENTEI GARDIMAN', 'RODRIGO TEIXEIRA RAMOS', 'SAMYR SILVA BEZERRA JACOME', 'SEBASTIAN YURI CAVALCANTI CATUNDA', 'SELAN RODRIGUES DOS SANTOS', 'SILVIA MARIA DINIZ MONTEIRO MAIA', 'SILVIO COSTA SAMPAIO', 'TAMYRIS REZENDE FERREIRA', 'UMBERTO RIVIECCIO', 'UMBERTO SOUZA DA COSTA', 'VANESSA DANIELLE SANTOS FERREIRA', 'WAGNER GUEDES KERLLER', 'WELLINGTON SILVA DE SOUZA', 'WILLIAM BRENNO DOS SANTOS OLIVEIRA'), value='ADJA FERREIRA DE ANDRADE'), Output()), _dom_classes=('widget-interact',))