In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import ipywidgets as widgets
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

NameError: name 'reload' is not defined

In [9]:
turmas_url = 'http://bit.do/turmas_ufrn_2017_2'
notas_url = 'http://bit.do/notas_ufrn_2017_2'
disciplinas_url = 'http://bit.do/componentes_curriculares_ufrn'
docentes_url = 'http://bit.do/docentes_ufrn_2018'

turmas = pd.read_csv(turmas_url, sep=';')
notas = pd.read_csv(notas_url, sep=';')
disciplinas = pd.read_csv(disciplinas_url, 
                          sep=';', 
                          usecols=["id_componente","codigo","nivel","nome","unidade_responsavel"])
docentes = pd.read_csv(docentes_url, sep=';')

turmas.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas.id_componente = turmas.id_componente.astype(str)

# Limpando o dataframe disciplinas com linhas desnecessárias
disciplinas.dropna(inplace=True)
disciplinas = disciplinas[~disciplinas.id_componente.duplicated()]

colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]

merge_turmas_disciplinas = pd.merge(turmas, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas.dropna(inplace=True)
merge_turmas_disciplinas.head()

,id_servidor,siape,nome,formacao,tipo_jornada_trabalho,vinculo,categoria,classe_funcional,id_unidade_lotacao,lotacao,admissao,Unnamed: 11
0,5753261,709857,MARIA NUBIA PESSOA,ESPECIALIZAÇÃO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO DE EX-TERRITORIO,D ...,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2010-01-06 00:00:00,NaN
1,5752617,713506,RUTILENE SANTOS DE SOUSA,MESTRADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO DE EX-TERRITORIO,D ...,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2009-03-12 00:00:00,NaN
2,22092,709496,ADAUTO CHIAMENTI,DOUTORADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DV ...,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,1988-03-01 00:00:00,NaN
3,2263697,1543339,ADELE GUIMARAES UBARANA SANTOS,MESTRADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIII ...,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2006-07-24 00:00:00,NaN
4,5751986,1554468,AFRANIO CESAR DE ARAUJO,DOUTORADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2008-09-12 00:00:00,NaN

In [10]:
# filtrando as turmas com código IMD
turmas_imd = merge_turmas_disciplinas[merge_turmas_disciplinas.codigo.str.contains("IMD")]

# utilizar apenas disciplinas com código "CONSOLIDADA"
turmas_imd = turmas_imd[turmas_imd.situacao_turma == 'CONSOLIDADA']

# Adaptar o nome da coluna id_docente_interno para id_servidor
turmas_imd.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)

turmas_imd.capacidade_aluno = turmas_imd.capacidade_aluno.astype(np.int64)

# Adaptar os tipos de dados em turmas_imd para o merge com o dataframe docentes
turmas_imd.id_servidor = turmas_imd.id_servidor.astype(np.int64)
turmas_imd.head()

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
9195,57608376,5755939,IMD0017,GRADUAÇÃO,PRÁTICAS DE LEITURA E ESCRITA EM PORTUGUÊS I,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,5N34 (24/07/2017 - 16/12/2017)
9196,57608377,25889,IMD0019,GRADUAÇÃO,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246M3456 (24/07/2017 - 16/12/2017)
9197,57608377,5756386,IMD0019,GRADUAÇÃO,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246M3456 (24/07/2017 - 16/12/2017)
9198,57608377,5759424,IMD0019,GRADUAÇÃO,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246M3456 (24/07/2017 - 16/12/2017)
9199,57608378,5757969,IMD0019,GRADUAÇÃO,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,67,246N1234 (24/07/2017 - 16/12/2017)

In [11]:
# merge os dataframes  turmas_imd e docentes utilizando como base a coluna id_servidor

colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof = pd.merge(turmas_imd, docentes, on='id_servidor')[colunas]
lista_prof = turmas_imd_nomesprof.nome_y.unique()
turmas_imd_nomesprof.head()

,id_turma,codigo,nivel_ensino,nome_y,nome_x,capacidade_aluno,descricao_horario
0,57608376,IMD0017,GRADUAÇÃO,LUCELIO DANTAS DE AQUINO,PRÁTICAS DE LEITURA E ESCRITA EM PORTUGUÊS I,60,5N34 (24/07/2017 - 16/12/2017)
1,57608398,IMD0027,GRADUAÇÃO,LUCELIO DANTAS DE AQUINO,PRÁTICAS DE LEITURA E ESCRITA EM PORTUGUÊS II,60,3N34 (24/07/2017 - 16/12/2017)
2,57608691,IMD0335,GRADUAÇÃO,LUCELIO DANTAS DE AQUINO,TÓPICOS ESPECIAIS I,40,35T56 (24/07/2017 - 16/12/2017)
3,57608377,IMD0019,GRADUAÇÃO,LOURENA KARIN DE MEDEIROS ROCHA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,65,246M3456 (24/07/2017 - 16/12/2017)
4,57608377,IMD0019,GRADUAÇÃO,CHARLES ANDRYE GALVAO MADEIRA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,65,246M3456 (24/07/2017 - 16/12/2017)

In [12]:
#Essa celula pega a avaliação dos professores do imd
avaliacao = pd.read_csv("avaliacaodocencia.csv", sep=';')
av_imd = avaliacao[avaliacao['nome_docente'].isin(lista_prof)]
av_imd.head()
#avaliacao2 = (avaliacao[(avaliacao.ano.astype(str).str.contains("2016")) | (avaliacao.ano.astype(str).str.contains("2017"))]

,id_docente,nome_docente,id_turma,ano,periodo,qtd_discentes,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP
7787,22764,JAIR CAVALCANTI LEITE,1233659,2014,2,17,9.09,1.57,9.00,1.60,8.84,1.97
7788,22764,JAIR CAVALCANTI LEITE,1233661,2014,2,36,9.48,1.26,9.43,1.20,8.22,2.23
7789,22764,JAIR CAVALCANTI LEITE,1242644,2015,1,34,9.41,1.04,8.86,1.73,8.14,2.32
7790,22764,JAIR CAVALCANTI LEITE,57566712,2015,2,36,9.81,0.51,9.48,1.35,8.55,2.15
7791,22764,JAIR CAVALCANTI LEITE,57566818,2015,2,14,9.69,0.48,8.13,2.44,7.87,2.69

In [14]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual

def evolucao(x):
    dados_prof = avaliacao.loc[avaliacao['nome_docente'] == x]
    return (dados_prof)

interact(evolucao, x=lista_prof,);

interactive(children=(Dropdown(description='x', options=('LUCELIO DANTAS DE AQUINO', 'LOURENA KARIN DE MEDEIROS ROCHA', 'CHARLES ANDRYE GALVAO MADEIRA', 'ANDRE LUIZ DA SILVA SOLINO', 'AUGUSTO JORGE DE MACEDO', 'ADJA FERREIRA DE ANDRADE', 'MARJORY CRISTIANY DA COSTA ABREU', 'RAFAEL BESERRA GOMES', 'ANNA GISELLE CAMARA DANTAS RIBEIRO RODRIGUES', 'ISAAC FRANCO FERNANDES', 'JULIO CESAR PAULINO DE MELO', 'ANDRE LUIZ DE SOUZA BRITO', 'ANTONIO IGOR SILVA DE OLIVEIRA', 'WILLIAM BRENNO DOS SANTOS OLIVEIRA', 'RAFAELA HORACINA SILVA ROCHA SOARES', 'CARLOS AUGUSTO PROLO', 'SELAN RODRIGUES DOS SANTOS', 'LEONARDO CESAR TEONACIO BEZERRA', 'EIJI ADACHI MEDEIROS BARBOSA', 'CESAR RENNO COSTA', 'IVANOVITCH MEDEIROS DANTAS DA SILVA', 'SILVIO COSTA SAMPAIO', 'UMBERTO SOUZA DA COSTA', 'SAMYR SILVA BEZERRA JACOME', 'ATHANASIOS TSOUANAS', 'REGIVAN HUGO NUNES SANTIAGO', 'SILVIA MARIA DINIZ MONTEIRO MAIA', 'JORGE ESTEFANO SANTANA DE SOUZA', 'CARLOS EDUARDO DA SILVA', 'JOAO CARLOS XAVIER JUNIOR', 'GUSTAVO GIRAO BARRETO DA SILVA', 'MARCIA JACYNTHA NUNES RODRIGUES LUCENA', 'NELSON ION DE OLIVEIRA', 'DANILO CURVELO DE SOUZA', 'FREDERICO ARAUJO DA SILVA LOPES', 'IRIS LINHARES PIMENTA', 'EVERTON RANIELLY DE SOUSA CAVALCANTE', 'BRUNO SANTANA DA SILVA', 'ISABEL DILLMANN NUNES', 'DENNYS LEITE MAIA', 'WELLINGTON SILVA DE SOUZA', 'EDUARDO NOGUEIRA CUNHA', 'SANDRO JOSE DE SOUZA', 'DIEGO RODRIGO CABRAL SILVA', 'FERNANDO MARQUES FIGUEIRA FILHO', 'JOSUÉ VITOR DE MEDEIROS JÚNIOR', 'SAMUEL XAVIER DE SOUZA', 'KEITY MARA FERREIRA DE SOUZA E SABOYA', 'EDUARDO HENRIQUE DA SILVA ARANHA', 'ITAMIR DE MORAIS BARROCA FILHO', 'JAIR CAVALCANTI LEITE', 'MARCEL VINICIUS MEDEIROS OLIVEIRA', 'THAIS VASCONCELOS BATISTA', 'DANIEL SABINO AMORIM DE ARAUJO'), value='LUCELIO DANTAS DE AQUINO'), Output()), _dom_classes=('widget-interact',))

In [27]:
% matplotlib inline
from ipywidgets import interactive
import matplotlib.pyplot as plt
import numpy as np
def evolucaoGrafico(x):
    dados_prof = avaliacao.loc[avaliacao['nome_docente'] == x]
    plt.plot(dados_prof['ano'], dados_prof['postura_profissional_media'])
    plt.show()
    
interactive_plot = interact(evolucaoGrafico, x=lista_prof,)
interactive_plot

interactive(children=(Dropdown(description='x', options=('LUCELIO DANTAS DE AQUINO', 'LOURENA KARIN DE MEDEIROS ROCHA', 'CHARLES ANDRYE GALVAO MADEIRA', 'ANDRE LUIZ DA SILVA SOLINO', 'AUGUSTO JORGE DE MACEDO', 'ADJA FERREIRA DE ANDRADE', 'MARJORY CRISTIANY DA COSTA ABREU', 'RAFAEL BESERRA GOMES', 'ANNA GISELLE CAMARA DANTAS RIBEIRO RODRIGUES', 'ISAAC FRANCO FERNANDES', 'JULIO CESAR PAULINO DE MELO', 'ANDRE LUIZ DE SOUZA BRITO', 'ANTONIO IGOR SILVA DE OLIVEIRA', 'WILLIAM BRENNO DOS SANTOS OLIVEIRA', 'RAFAELA HORACINA SILVA ROCHA SOARES', 'CARLOS AUGUSTO PROLO', 'SELAN RODRIGUES DOS SANTOS', 'LEONARDO CESAR TEONACIO BEZERRA', 'EIJI ADACHI MEDEIROS BARBOSA', 'CESAR RENNO COSTA', 'IVANOVITCH MEDEIROS DANTAS DA SILVA', 'SILVIO COSTA SAMPAIO', 'UMBERTO SOUZA DA COSTA', 'SAMYR SILVA BEZERRA JACOME', 'ATHANASIOS TSOUANAS', 'REGIVAN HUGO NUNES SANTIAGO', 'SILVIA MARIA DINIZ MONTEIRO MAIA', 'JORGE ESTEFANO SANTANA DE SOUZA', 'CARLOS EDUARDO DA SILVA', 'JOAO CARLOS XAVIER JUNIOR', 'GUSTAVO GIRAO BARRETO DA SILVA', 'MARCIA JACYNTHA NUNES RODRIGUES LUCENA', 'NELSON ION DE OLIVEIRA', 'DANILO CURVELO DE SOUZA', 'FREDERICO ARAUJO DA SILVA LOPES', 'IRIS LINHARES PIMENTA', 'EVERTON RANIELLY DE SOUSA CAVALCANTE', 'BRUNO SANTANA DA SILVA', 'ISABEL DILLMANN NUNES', 'DENNYS LEITE MAIA', 'WELLINGTON SILVA DE SOUZA', 'EDUARDO NOGUEIRA CUNHA', 'SANDRO JOSE DE SOUZA', 'DIEGO RODRIGO CABRAL SILVA', 'FERNANDO MARQUES FIGUEIRA FILHO', 'JOSUÉ VITOR DE MEDEIROS JÚNIOR', 'SAMUEL XAVIER DE SOUZA', 'KEITY MARA FERREIRA DE SOUZA E SABOYA', 'EDUARDO HENRIQUE DA SILVA ARANHA', 'ITAMIR DE MORAIS BARROCA FILHO', 'JAIR CAVALCANTI LEITE', 'MARCEL VINICIUS MEDEIROS OLIVEIRA', 'THAIS VASCONCELOS BATISTA', 'DANIEL SABINO AMORIM DE ARAUJO'), value='LUCELIO DANTAS DE AQUINO'), Output()), _dom_classes=('widget-interact',))